
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="contaier">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">        
        <span>{errorMess}</span>
        <h1>{controlPoint.header}</h1>
        <div>{controlPoint.description}</div>
        <input type="hidden" value="{controlPoint.uid}" id="cpUid" />
      </div>
      <div class="col-md-6">
        <img src="{controlPoint.image.originalResource.publicUrl}" width="554" height="332" class="img-responsive" />
      </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <f:for each="{controlPoint.questions}" as="question" iteration="tIt">        
        <f:if condition="{tIt.isFirst}">
          <f:then>
            <li role="presentation" class="active"><a href="#uid_{question.uid}" aria-controls="uid_{question.uid}" role="tab" data-toggle="tab">{question.header}</a></li>
          </f:then>
          <f:else>
            <li role="presentation"><a href="#uid_{question.uid}" aria-controls="uid_{question.uid}" role="tab" data-toggle="tab">{question.header}</a></li>
          </f:else>
        </f:if>
      </f:for>  
    </ul>
    <div class="tab-content question">      
      <f:for each="{controlPoint.questions}" as="question" iteration="qIt">
        <f:if condition="{question.header} != ''">        
                <f:if condition="{qIt.isFirst}">
                  <f:then>
                    <div role="tabpanel" class="tab-pane active in fade" id="uid_{question.uid}">
                  </f:then>
                  <f:else>
                    <div role="tabpanel" class="tab-pane fade" id="uid_{question.uid}">
                  </f:else>
                </f:if>
                <div class="row">
                  <div class="col-md-8">
                    <h1>{question.header}</h1>
                    <div>{question.description}</div>
                    <input type="hidden" value="{question.uid}" class="qUid" />
                    <f:render partial="Report/NewNote" arguments="{question:question, controlPoint:controlPoint, unPostedReport:unPostedReport}" />
                    <div class="oldNotes">
                      <f:for each="{unPostedReport.notes}" as="note">            
                        <f:if condition="{note.question} == {question.uid}">
                            <f:debug>{note}</f:debug>
                            <div>note.question: {note.question} question.uid: {question.uid}</div>
                            <f:render partial="Report/ReportedNote" arguments="{nextVersion:nextVersion, question:question, controlPoint:controlPoint, unPostedReport:unPostedReport, note:note}" />
                        </f:if>
                      </f:for>
                    </div> 
                  </div>
                <div class="col-md-4">
                  <img src="{question.image.originalResource.publicUrl}" width="554" height="332" class="img-responsive" />
                </div>
              </div></div> <!-- tabpanel end-div -->
        </f:if>     
      </f:for>
    </div>
  </div>
</div>
<f:flashMessages />
</f:section>