
<table class="tx-dl-iponlyestate" >
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.name" />
		</td>
		<td>
		{estate.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.image" />
		</td>
		<td>
				<f:image src="{estate.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.adress" />
		</td>
		<td>
		{estate.adress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.postal_code" />
		</td>
		<td>
		{estate.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.city" />
		</td>
		<td>
		{estate.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.width" />
		</td>
		<td>
		{estate.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.length" />
		</td>
		<td>
		{estate.length}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.door_position" />
		</td>
		<td>
		{estate.doorPosition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.latitude" />
		</td>
		<td>
		{estate.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dliponlyestate_domain_model_estate.longitude" />
		</td>
		<td>
		{estate.longitude}
		</td>
	</tr>
</table>