/*.dropdown-menu li:hover .dropdown-menu {
    display:block;
    top: 0;
    left: 100%;
}*/
/*
.dropdown-menu li .dropdown-menu {
    display:block;

}
*/
a {
    cursor: pointer;
}
.collapse.in {
    width:100%;
}
.panel-body > div {
    margin-bottom:5px;
}
.modal-h2 {
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 5px;
}
.modal-comment {
    margin-bottom: 5px;
}
.cpName {
    font-weight: bold;    
}
.square {
    background-color: #ffffff;
    width: 30px;
    display: inline-block;
    border: 1px solid #000000;
    height: 30px;
    padding: 5px;
    text-align: center;
}
.square.criticalColor {
    background-color: #EB545F;
}
.square.remarkColor {
    background-color: #FFF03F;
}


.glyphicon.glyphicon-play.rotated {
    transform: rotate(90deg);   
}
.glyphicon.glyphicon-play {
    color: #575656;
}
.table-like__item div {
    padding: 5px;
    text-align: center;    
}
.row.header {
    height: 50px;
    background-color: #575656;
    color: #ffffff;
}
.row.header div {
    height: 100%;
    text-align: center;
    padding: 5px;
    border-left: 1px solid #ffffff;
}
.table-like {
  background: #DDD;
  max-width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.table-like__item {
    font-size:12px;
    width: 100%;
    clear: both;
    border-top: 1px solid;
}
.col-md-1.handle {
    width: 3.33333%;
    padding-top: 11px;
}
.col-md-1.type {
    
}
.col-md-1.name {
    
}
.col-md-1.report {
    
}
.col-md-1.resptech {
    
}
.col-md-1.critical {
    
}
.col-md-1.remark {
    
}
.col-md-1.preremark {
    
}
.col-md-1.exetech {
    
}
.col-md-1.note {
    
}
.col-md-1.purchase {
    
}
.search-container div {
    margin-bottom: 10px;
}
li.disabled {
    cursor: not-allowed;
}
/* Clicks are not permitted and change the opacity. */
li.disabled > a[data-toggle="tab"] {
    pointer-events: none;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.lbl {
    margin-top: 6px;    
}
.form-control.search-date {
    width: 79%;
}
.glyphicon.glyphicon-calendar {
    margin-left: 5px;
    font-size: 21px;
    top: 4px;
}
body .nav-tabs>li.active>a,body .nav-tabs>li.active>a:focus,body .nav-tabs>li.active>a:hover {
    border: 1px solid #555;
    border-bottom-color: transparent;
}
.link-to-list-button {
    float:left;
}
.alert-info.uploadStatus {
    float:right;
    height:38px;
    padding:9px;
    margin-left: 10px;
}
.sub2.open {
     display:block;
    top: 0;
    left: 100%;   
}
.modal-body h2 {
    font-size: 20px;
}
.cp-link {
    font-size: 20px;
}
.cp-info {
    font-size: 20px;
}
/* Makes cursor pointer work on input-file elements */
::-webkit-file-upload-button {
    cursor:pointer;
}
::-webkit-file-upload-button.disabled {
    cursor: not-allowed;
    cursor:pointer;
}
.add-photo-btn .glyphicon-camera {
    font-size: 20px;
}
.add-photo-btn input[type="file"] {
    width: 100%;
    top: -1px;
    z-index: 999;
    line-height: 0;
    font-size: 28px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}
 .add-photo-btn {
    position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background-color:#83b81a;
    color:#fff;
    /*display:block;*/
    /*width:60px;*/
    height:38px;    
    /*line-height:30px;
    float:left;*/
 }
 input[type="text"]{
   float:left;
 }
body .navbar-nav>li, body .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
}
body .navbar.navbar-default .navbar-nav>.active>a, body .navbar.navbar-default .navbar-nav>.active>a:focus, body .navbar.navbar-default .navbar-nav>.active>a:hover {
    padding-top: 0;
    padding-bottom: 0;
}
body .navbar {
    margin-bottom: 0;
}
.top .row {
    margin-top: 0;
    margin-bottom: 0;
}
#mainnavbar {
    margin-top: 37px;
}
body .dropdown-menu>li>a:hover {
    background-color:#ED5661 !important;
    color:#ffffff;
}
body .dropdown-menu>.active>a, body .dropdown-menu>.active>a:focus {
    color:#777;
}
.estate-container {
    border-bottom: 1px solid #E3E3E3;
}
.cp-container {
    border-bottom: 1px solid #E3E3E3;
}
body .container p {
    font-size: 15px;
}
body .contaier .tab-container a {
    color:#555;
}
.color_1, .color_5 {
    background-color: #5CB85C !important;
}
.color_2 {
    background-color: #ED7A85 !important;
}
.color_3 {
    background-color: #F0AD4E !important;
}
.color_4 {
    background-color: #DDDDDD !important;
}
/*.color_5 {
    background-color: #5BC0DE !important;
}*/
.active a {
    background-color: #FFFFFF !important;
}
.active a.color_1, .active a.color_5 {
    background-color: #5CB85C !important;
}
.active a.color_2 {
    background-color: #ED7A85 !important;
}
.active a.color_3 {
    background-color: #F0AD4E !important;
}
.active a.color_4 {
    background-color: #DDDDDD !important;
}
/*.active a.color_5 {
    background-color: #5BC0DE !important;
}*/
.tab-container a {
    background-color: #DCDCDC; 
}
body .container a.btn {
    color:#ffffff;
}
.comment {
    font-weight:bold;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link, .btn-secondary {
    border-radius: 4px !important;
}
.tx-dl-iponlyestate .question .collapsed .glyphicon-chevron-down:before {
     content: "\e080";
}
body .save-btn {
    margin-left:0;
}
.more-btns {
    
}
.input-note  {
    width:100%;
    height:100px;
}
.input-disabled-note {
    width:auto;
    height:auto;
}
.posted-note-container {
    clear:both;
}
.posted-note-container .checkbox {
    float: left;
    width: 250px;
    height: 35px;   
}
body .posted-note-container .checkbox input {
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-left: 20px;
    position: static;
    margin-left: -10px; 
    margin-right: 9px;   
}
.posted-note-container .checkbox label {    
    display: flex;
    align-items:center;
    font-size: 19px;
}
.posted-note-container .alert {
    float: left;
    min-width: 300px;
    float: left;
}
.save-fixed-btn {
    height:38px;
    margin-bottom: 5px;    
}
.clear-both {
    clear:both;
}
.post-report-container {
    position:relative;
}
.btn-ip-post-report {

}