.tx-dl-iponlyestate .question .collapsed .glyphicon-chevron-down:before {
     content: "\e080";
}
.more-btns {
    
}
.input-note  {
    width:100%;
    height:100px;
}
.input-disabled-note {
    width:auto;
    height:auto;
}
